{% extends "fakeIndex.html" %}

{% block content %}
<div class="section section-components pb-0" id="section-components">
        <h2>
          <br>

            <div class="card bg-secondary shadow border-0 justify-content-center" style="margin-top:-15%;">
          <div class="card-body px-md-5 py-md-5">
            <div class="text-center text-muted mb-4">
              <small>Sign in with credentials</small>

            </div>
            <form action="" method="post" novalidate>
              
              {{ form.hidden_tag() }}
              <p>
                  {{ form.username.label }}<br>
                  {{ form.username(size=32) }}<br>
              </p>
              <p>
                  {{ form.password.label }}<br>
                  {{ form.password(size=32) }}<br>
              </p>
              <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
              <p>{{ form.submit() }}</p>
          </form>
{% endblock %}

