{% extends "header.html" %}

{% block content %}
<div class="section section-components pb-0" id="section-components">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h2 class="mb-5">
          <span>Country Management (<b>{{ current_user.username }}</b>)</span><p>Use this page to manage your country's avisory details</p>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success" role="alert">
              {{ message }}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </h2>

        <div>
            <h3>Short Description</h3>
            <form action="/management" method="POST">
            <textarea style="height: 150px;"class="form-control" id="description" name="description" rows="3" type="text" placeholder="Write text here ...">{{ description }}</textarea>

          <br>

          <!--<h3>Risk Level</h3>
          <div class="custom-control custom-radio mb-3">
            <input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio">
            <label class="custom-control-label" for="customRadio1">Low</label>
          </div>
          <div class="custom-control custom-radio mb-3">
            <input name="custom-radio-1" class="custom-control-input" id="customRadio2" checked="" type="radio">
            <label class="custom-control-label" for="customRadio2">Medium</label>
          </div>
          <div class="custom-control custom-radio mb-3">
            <input name="custom-radio-1" class="custom-control-input" id="customRadio3" checked="" type="radio">
            <label class="custom-control-label" for="customRadio3">High</label>
          </div>
        </div>-->

        <br>

        <h3>Health Risks</h3>
        <textarea style="height: 150px;" class="form-control" id="risks" name="risks" rows="3" placeholder="Write text here ...">{{ risks }}</textarea>

        <br>

        <h3>Environmental Risks</h3>
        <textarea style="height: 150px;" class="form-control" id="environment" name="environment" rows="3" placeholder="Write text here ...">{{ environment }}</textarea>

        <br>

        <h3>Laws and Culture</h3>
        <textarea style="height: 150px;" class="form-control" id="laws" name="laws" rows="3" placeholder="Write text here ...">{{ laws }}</textarea>

        <br><br>

        <button type="submit" class="btn btn-primary">Submit Changes</button>
        <br><br><br>

        </form>
{% endblock %}
