{% extends "header.html" %}

{% block content %}
<div class="section section-components pb-0" id="section-components">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h2 class="mb-5">
          <span>Country Management (<b>{{ current_user.username }}</b>)</span><p>Use this page to manage your country's avisory details</p>
        </h2>

        <div>
            <h3>Short Description</h3>
            <form>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write text here ..."></textarea>
          </form>

          <br>

          <h3>Risk Level</h3>
          <div class="custom-control custom-radio mb-3">
            <input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio">
            <label class="custom-control-label" for="customRadio1">Low</label>
          </div>
          <div class="custom-control custom-radio mb-3">
            <input name="custom-radio-1" class="custom-control-input" id="customRadio2" checked="" type="radio">
            <label class="custom-control-label" for="customRadio2">Medium</label>
          </div>
          <div class="custom-control custom-radio mb-3">
            <input name="custom-radio-1" class="custom-control-input" id="customRadio3" checked="" type="radio">
            <label class="custom-control-label" for="customRadio3">High</label>
          </div>
        </div>

        <br>

        <h3>Health Risks</h3>
        <form>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write text here ..."></textarea>
        </form>

        <br>

        <h3>Environmental Risks</h3>
        <form>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write text here ..."></textarea>
        </form>

        <br>

        <h3>Laws and Culture</h3>
        <form>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write text here ..."></textarea>
        </form>

        <br><br>

        <button type="button" class="btn btn-primary">Submit Changes</button>
        <br><br><br>
{% endblock %}
